@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;

  font-family: 'Poppins', sans-serif;
  background: #e2e8f0;

}

.pagination-number:hover {
  background-color: #DDD;
  cursor: pointer;
}

.pagination-number.active {
  background-color: #0096FF;
  color: #FFFFFF;
  border: 2px solid black;
  border-width: 2px;
  font-weight: bold;
}